/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

/* container section */
.container {
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
  overflow: hidden;
}

/* layouts */
.column {
  width: 100%;
  float: left;
}

/* small screen devices */
@media (min-width: 768px) {
  .col-sm-12 {
    width: calc(100% / 12 * 12);
  }
  .col-sm-11 {
    width: calc(100% / 12 * 11);
  }
  .col-sm-10 {
    width: calc(100% / 12 * 10);
  }
  .col-sm-9 {
    width: calc(100% / 12 * 9);
  }
  .col-sm-8 {
    width: calc(100% / 12 * 8);
  }
  .col-sm-7 {
    width: calc(100% / 12 * 7);
  }
  .col-sm-6 {
    width: calc(100% / 12 * 6);
  }
  .col-sm-5 {
    width: calc(100% / 12 * 5);
  }
  .col-sm-4 {
    width: calc(100% / 12 * 4);
  }
  .col-sm-3 {
    width: calc(100% / 12 * 3);
  }
  .col-sm-2 {
    width: calc(100% / 12 * 2);
  }
  .col-sm-1 {
    width: calc(100% / 12 * 1);
  }
}

/* medium screen devices */
@media (min-width: 992px) {
  .col-md-12 {
    width: calc(100% / 12 * 12);
  }
  .col-md-11 {
    width: calc(100% / 12 * 11);
  }
  .col-md-10 {
    width: calc(100% / 12 * 10);
  }
  .col-md-9 {
    width: calc(100% / 12 * 9);
  }
  .col-md-8 {
    width: calc(100% / 12 * 8);
  }
  .col-md-7 {
    width: calc(100% / 12 * 7);
  }
  .col-md-6 {
    width: calc(100% / 12 * 6);
  }
  .col-md-5 {
    width: calc(100% / 12 * 5);
  }
  .col-md-4 {
    width: calc(100% / 12 * 4);
  }
  .col-md-3 {
    width: calc(100% / 12 * 3);
  }
  .col-md-2 {
    width: calc(100% / 12 * 2);
  }
  .col-md-1 {
    width: calc(100% / 12 * 1);
  }
}

/* large screen devices */
@media (min-width: 1200px) {
  .col-lg-12 {
    width: calc(100% / 12 * 12);
  }
  .col-lg-11 {
    width: calc(100% / 12 * 11);
  }
  .col-lg-10 {
    width: calc(100% / 12 * 10);
  }
  .col-lg-9 {
    width: calc(100% / 12 * 9);
  }
  .col-lg-8 {
    width: calc(100% / 12 * 8)
  }
  .col-lg-7 {
    width: calc(100% / 12 * 7);
  }
  .col-lg-6 {
    width: calc(100% / 12 * 6);
  }
  .col-lg-5 {
    width: calc(100% / 12 * 5);
  }
  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }
  .col-lg-3 {
    width: calc(100% / 12 * 3);
  }
  .col-lg-2 {
    width: calc(100% / 12 * 2);
  }
  .col-lg-1 {
    width: calc(100% / 12 * 1);
  }
}

/* row section */ 
.row {
  margin: 10px 0;
  padding: 15px;
}

/* clearfix */
.row::after,
.row::before {
  content: "";
  clear: both;
  display: table;
}

/* top header */
.top-header {
  background-color: #rgba(0,0,0,0);
}

.top-links li {
  display: inline-block;
  list-style: none;
  padding: .4375rem;
}

.top-links li a {
  text-decoration: none;
  letter-spacing: .04rem;
  color: #4a4a4a;
  font-size: 14px;
  padding: 0px 23px;
  font-weight: 700;
}

.btn-r {
  text-decoration: none;
  color: #fff;
  background-color: #b11116;
  border-color: #b11116;
  padding: .4375rem 2rem;
  display: inline-block;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}


/* hero section */

.hero {
  /*height: 500px;*/
  background: url('https://www.bpi.com.ph/content/atom/33f50d91-c898-4666-8a69-e09d571c5dcc/content/Personal/Homepage%20Refresh/2021/Feb%201%202021/hero_secondary_february_2021_homepage_banner.gif?id=b44c1d6b-5647-4dc4-b420-6b10fad6d5ed');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; 
}

.hero-h1 {
  color: #fff;
  font-size: 64px;
  /* width: 75%; */
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: .04rem;
  line-height: 64px;
}

.hero-padding {
  /* padding: 5rem 0; */
  padding-top: 3rem;
  padding-bottom: 3rem;
}